<!--
@Author: mars
@Date:   2016-12-07T14:56:00-05:00
@Last modified by:   mars
@Last modified time: 2016-12-08T01:49:27-05:00
-->
<a href="/">Back to home page</a>
<hr>
<h1>Login</h1>
{{data}}
<form action="/login" method="post">

  <label for="email">Email</label>
  <input name="email" type="email"/>
  <br/>

  <label for="password">Password</label>
  <input name="password" type="password"/>
  <br/>

  <input type="submit"/>
</form>
