<!--
@Author: mars
@Date:   2016-12-07T14:55:39-05:00
@Last modified by:   mars
@Last modified time: 2016-12-07T22:04:03-05:00
-->
<h1>Welcome! You have signed up successfully!</h1>

<a href="/">Back to home page</a>
<a href="/logout">Log out</a>
