<!--
@Author: mars
@Date:   2016-12-08T18:22:18-05:00
@Last modified by:   mars
@Last modified time: 2016-12-08T18:24:44-05:00
-->
<a href="/">Back to home page</a> | <a href="/logout">Log out</a>
<hr>
<h1>Welcome!</h1>
<ul>
  <li>service name: {{req.service}}</li>
  <li>service user: {{req.service}}</li>
</ul>
